body{
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
}

/* sections */

.colored-section{
    background-color: #ff4c68;

}

.white-section{
    background-color: #fff;

}


/* title section */

.title-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    text-align: left;
}
.navbar-brand{
    color: white;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.container-fluid{
    padding: 3% 15% 7%;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 38%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/* features section */

.heading-one-features , .heading-two-features , .heading-three-features{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;

}

.feature-box{
    
    padding: 2.5%;
}

p{
    color: #8f8f8f;
}

#features{
    padding: 7% 15%;
    position: relative;
}


/* testimonials section */

#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonials-heading{
    color: #fff;
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 5% 17%;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 15px;
}

/* press section */


#press{
    background-color: #ef8172;
    padding: 5% 17%;
}

.press-img{
    width: 20%;
    margin: 20px 20px 50px;
}


/* pricing section */

#pricing{
    padding: 100px;
}

.pricing-heading{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
 .pricing-para{
     color: #8f8f8f;
     font-size: small;
 }
.pricing-coloumn{
    padding: 4% 5%;
}


/* media query */


@media (max-width:984px){
    #title{
        text-align: center;

    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}


/* cta section */


#cta{
    color: #fff;
    padding: 7% 15%;
    
}

.cta-heading{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.cta-button{
    margin: 40px 10px;
    
}


/* footer section */

#footer{
    padding: 4% 12%;

}

.footer-icon{
    margin: 5px 5px 10px 5px;
}

.footer-para{
    color: #8f8f8f;
    font-size: small;
    margin-top: 5px;
}